@green : #A3E4D7;

.margenes(@top: 0px, @bottom: 0px) {
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	.margenes(50px, 10px);
	background-color: @green;
	color: white;
}
.bodycard {
	display: flex;
	flex: 1 180px;
	flex-direction: column;
	border: 10px;
	border-color: @green;

	padding: 4px 1px;
	margin-top: 10px;
	justify-content: space-between;
}

.btn-reserva {
	width: 100%;
	color: white;
	background:  @green;
}
.carousel {
	width: 100%;
}
footer {
	background-color: @green;
	margin-bottom: 0px;
	margin-top: 10px;
}
.container-1
{
	margin-left:  0;
}

.footer-1 {
	display: flex;
	flex-direction: column;

	align-items: flex-start;
	text-align: left;
}

.footer-2 {
	display: flex;
	flex-direction: column;

	align-items: center;
	text-align: center;
}

.footer-3 {
	display: flex;
	flex-direction: column;

	align-items: flex-end;
	text-align: right;
}
.copyri {
 padding-left: 2%;
}

